@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Register";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Register
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Register", "Home")
                </li>
                <li class="active">Register</li>
            </ol>
        </div>
    </div>
    <form>
        <div class="container">
            <h1>Register</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>

            <label for="email"><b>Email</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" placeholder="Enter Email" name="email" id="email"><br /><br />

            <label for="psw"><b>Password</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="password" placeholder="Enter Password" name="psw" id="psw"><br /><br />

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat"><br />
            <hr>

            <button class="btn btn-primary" type="submit">Register</button>
        </div><br />

        <div class="container signin">
            <p>Already have an account? <a href="http://localhost:55527/LogIn">Log in</a>.</p>
        </div>
    </form>

</div>

