@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Order Form";
}

<h1 style="margin-left:10%"">View Order</h1><br />
<table style="width:80%; margin-left:10%" class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Delivery Date and Time</th>
        <th>Contact Number</th>
        <th>Email Address</th>
        <th>Food Order</th>
        <th>Additional Food Description</th>
        <th>Payment Method</th>
    </tr>
    <tr>
        <td>Jill</td>
        <td>560 Bukit Batok Ave 3, #04-20, S490560</td>
        <td>4/5/2021, 4pm</td>
        <td>98987676</td>
        <td>JillSmith@gmail.com</td>
        <td>1x BBQ Beef Burger, 1x Buffalo Hot Wings</td>
        <td>NIL</td>
        <td>Mastercard</td>
    </tr>
    <tr>
        <td>Jack</td>
        <td>789 Ang Mo Kio St 45, #11-38, S777789</td>
        <td>4/5/2021, 7pm</td>
        <td>98456789</td>
        <td>JackPark@gmail.com</td>
        <td>1x Macaroni and Cheese, 1x Truffle Egg and Salmon Toast</td>
        <td>Remove the crust off the bread.</td>
        <td>Nets</td>
    </tr>
    <tr>
        <td>Jamie</td>
        <td>789 Jurong West Ave 5, #11-38, S777789</td>
        <td>5/5/2021, 3pm</td>
        <td>98234567</td>
        <td>Jamie19@gmail.com</td>
        <td>1x Buttermilk Chicken and Egg Burger, 1x Garden Burger</td>
        <td>No tomatoes on all burgers. Extra chilli sauce.</td>
        <td>Visa</td>
    </tr>
    <tr>
        <td>Will</td>
        <td>235 Hillview Ave 2, #04-23, S345235</td>
        <td>9/5/2021, 2pm</td>
        <td>98564321</td>
        <td>Will18@gmail.com</td>
        <td>1x Chilli Beef Hot Dog</td>
        <td>Lesser chilli on hot dog.</td>
        <td>Visa</td>
    </tr>
</table>

