@{
    ViewBag.Title = "Home";
}
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image: url('../../img/slide1.jpg');"></div>
            <div class="carousel-caption">
                <h1>ABC Food Catering - Best Food in Town</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image: url('../../img/slide2.jpg');"></div>
            <div class="carousel-caption">
                <h1>A quaint eatery that impresses with its straightforward approach</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image: url('../../img/slide3.jpg');"></div>
            <div class="carousel-caption">
                <h1>
                    A modern dining experience inspired by vintage 80s diners</a>
                </h1>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Who Are We</h3>
                <p>The all-American-themed diner in Town that brings wholesome family fun with juicy burgers</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i> Why Choose Us</h3>
                <p>Our chef is devoted to safeguarding the flavours of American Cuisine and showcasing traditional recipes that might otherwise have faded from view.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i> Tip To Best Experience</h3>
                <p>Don't hold out on the burgers, the carb is essential to soak up all the slick sauces and juicy patties.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 style="color:black">A Redefinition of American Cuisine With A Colourful Inspiration And Cooking Influences</h2>
                <p style="color:black">Complete With Tasty Milkshakes, Ice Cream And Fun Desserts</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Menu Highlights</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="http://localhost:55527/Menu" width="700px" height="450px">
                    <img class="img-responsive" src="~/img/menuhighlight.jpg" />
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="http://localhost:55527/Menu"  width="700px" height="450px">
                    <img class="img-responsive" src="~/img/menuhighlight2.jpg" />
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="http://localhost:55527/Menu">
                    <img class="img-responsive" src="~/img/highlight.jpg" />
                </a>
            </div>
            
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2 style="color:black">Contact Us!</h2>
                <br/><br/><br/>
                          <a class="btn btn-lg btn-primary" href="http://localhost:55527/Contact">Click Here!</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="~/img/services1.jpg" />
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->